.content-div {
    margin-right: 70px;
}

/**** Social Boxes ****/

.socialbox a {
    position: fixed;
    right: 1px;
    -webkit-transition: .4 s;
    -moz-transition: .4 s;
    -ms-transition: .4 s;
    -o-transition: .4 s;
    transition: .4 s;
    padding: 15px;
    width: 38px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    margin-top: 20%;
    z-index: 999;

}

.socialbox a:hover{
    width: 60px;
    border-radius: 4px;
}

.socialbox a:hover {
    right: 0;
}

#box-one {
    top: 20px;
    background: #3b5998;

}

#box-two {
    top: 80px;
    background: #1da1f2;

}

#box-three {
    top: 140px;
    background: #e80c26;

}

#box-four {
    top: 200px;
    background: #088ecc;

}

/* media query */

@media only screen and (max-width: 600px)  {
    .socialbox{
        display: none;
    }
}